.eliminar{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: rem;
}



/*     button{
        align-self: flex-end;
        background-image: linear-gradient(144deg,#e30032, #e73d58 50%,#e65f79);
        border: 0;
        height: 20PX;
        width: 30px;
        border-radius: 1.5rem;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 20px;
        justify-content: center;
        line-height: 1em;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer; 
    } */