@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Handlee&family=Montserrat&&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
::root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  background: white;
}